//COLORS --------------->


    $dark-gray: #151415;
    $gray: #232123;
    $red: #FF4336;
    $orange: #FF7005;
    $teal: #269484;
    $blue: #0B52BE;
    $pink: #FF57B6;
    $general-color: $orange;
 
    $white: #FEFAFF;
    $dark-white:  #F4F4FE;


// .orange {
//     $general-color: $orange;
// }

// .red {
//     $general-color: $red;
// }

//FONTS ---------------->
$poppins: "Poppins", sans-serif;
$clicker: "Clicker Script", cursive;